MONGO_URI=mongodb://127.0.0.1:27017/ticketing_db

PORT=5000

CLIENT_URL=http://localhost:5173

GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

GOOGLE_CLIENT_ID=XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com

GOOGLE_CLIENT_SECRET=XXXXXX-XXXXXXXXXXXXXXXXXXX

JWT_SECRET=XXXXXXXXXXXXXXXXX

CLOUDINARY_URL=cloudinary://XXXXXXXXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXX@XXXXXXXXXXXX

# CLIENT_URL=https://orboevents-staging.vercel.app/

# MONGO_URI=mongodb+srv://xxxxx:xxxxxxxxxx@ticketingcluster.8yqrxp3.mongodb.net/?appName=TicketingCluster


RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxx

RAZORPAY_KEY_ID=xxxxxxxxxxxxxxxxxxx